button{
  display:flex;
  justify-content: center;
  margin:10px;
  width:max-content;
  padding: 8px;
  background: skyblue;
  border:1px solid skyblue;
  border-radius: 10px;
  color:whitesmoke;
  transition: 0.1s ease;
  color:black;


}
button:hover{
  transform: scale(1.1);
}