nav{
    background: grey;
    width:100vw;
    height:70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper{
height:50px;
padding: 10px 10px;
display:flex;
align-items: center;
}
h1{
    padding:0px 10px
}
nav ul li{
    list-style-type: none;
    padding: 5px;
    align-items: center;

}



*{
  margin: 0;
  padding: 0;  
}
nav ul{
    display:flex;
    justify-content: flex-end;
    align-items:flex-end;
    

}